@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600|Roboto&display=swap');
h1, h2, h3, h4, h5, h6, ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-family: 'Roboto', sans-serif;
	color: #606060;
}
a{
	color: #0e3ec7;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
p{
	font-size: 14px;
	line-height: 18px;
}
.header{
	background-color: #fff;
	border-top: 4px solid #0031c9;
	padding: 7px 0;
}
.header .logo-secraso{
	width: 100%;
	height: auto;
	margin-top: 5px;
	margin-bottom: 10px;
}
.busca{
	padding: 10px 0 0;
}
.busca .input{
	border: none;
	border-bottom: 1px solid #b2b2b2;
	width: 65px;
	font-size: 16px;
	font-family: 'Dosis';
}
.busca input::placeholder{
	color: #a7a7a7;
}
.busca .botao-buscar{
	background-color: #00ae02;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: none;
	width: 25px;
	height: 25px;
}
.busca .botao-buscar svg{
	color: #fff;
}
.sombra{
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}


/* MENU */
.menu{
	display: block;
}
.menu .item{
	border-bottom: 1px solid #ccc;
}
.menu .item:last-child{
	border-bottom: none;
	margin-bottom: 10px;
}
.menu a{
	color: #1b59cf;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s color;
}
.menu a:hover{
	color: #01c103;
	text-decoration: none;
	transition: 0.3s color;
}


/* SLIDER */
.slider{
	margin: 0;
	position: relative;
}
.slider .item{
	margin: 0;
	background-size: cover;
	background-position: center;
	min-height: 490px;
	position: relative;
}
.slider .barra{
	background-color: rgba(0, 49, 201, .8);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.slider h2{
	color: #fff;
	font-size: 36px;
	margin: 12px 0 3px;
}
.slider p.descricao-slide{
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	width: 100%;
	margin-bottom: 45px;
}
.slider .comunicados{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
}
.slider .comunicados h2{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #0031c9;
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
	margin: 30px 0 0;
	padding: 15px;
	cursor: pointer;
}
.slider .comunicados h2 svg{
	float: right;
}
.slider .comunicados #comunicados-corpo{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #fff;
	padding: 15px;
	display: none;
}
.slider .comunicados #comunicados-corpo div{
	max-height: 330px;
	overflow: auto;
	padding-right: 10px;
}
.slider .comunicados #comunicados-corpo div p:last-child{
	margin-bottom: 0;
}

/* scroll width */
.slider .comunicados #comunicados-corpo div::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.slider .comunicados #comunicados-corpo div::-webkit-scrollbar-track {
	background: #cacaca; 
}
 
/* Handle */
.slider .comunicados #comunicados-corpo div::-webkit-scrollbar-thumb {
	background: #0031c9; 
}

/* Handle on hover */
.slider .comunicados #comunicados-corpo div::-webkit-scrollbar-thumb:hover {
	background: #0029a9;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}




h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}
h1,
h2,
h3{
	color: #134cc8;
	font-weight: 600;
}


/* notícias */
section.noticias{
	margin-top: 70px;
	margin-bottom: 67px;
}
section.noticias h2{
	font-size: 36px;
	margin-bottom: 7px;
}
.borda-superior{
	border-top: 1px solid #ccc;
	margin-top: 7px;
	padding-top: 10px;
}
.veja-mais{
	font-size: 13px;
}
section.noticias .data{
	font-size: 12px;
	color: #969696;
	margin-bottom: 2px;
}
section.noticias .titulo-noticia{
	font-size: 24px;
	margin-bottom: 5px;
}
section.noticias .titulo-noticia a{
	color: #000;
	transition: 0.3s color;
}
section.noticias .titulo-noticia a:hover{
	color: #01c103;
	text-decoration: none;
	transition: 0.3s color;
}



/* informativo */
section.informativo{
	background-color: #ededed;
	padding-top: 45px;
	padding-bottom: 40px;
}
section.informativo h2{
	font-size: 36px;
	margin-bottom: 7px;
}
section.informativo h3{
	font-size: 21px;
	color: #000;
	margin-bottom: 10px;
}



/* outros destaques */
section.outros-destaques{
	padding-top: 70px;
	padding-bottom: 90px;
}
section.outros-destaques img{
	margin-bottom: 23px;
}
section.outros-destaques h2{
	margin-bottom: 7px;
}
section.outros-destaques p{
	font-size: 15px;
	line-height: 24px;
}
.botao-destaque{
	color: #fff;
	background-color: #00ae02;
	font-family: 'Dosis';
	font-size: 18px;
	font-weight: 600;
	padding: 10px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;
	transition: 0.3s background-color;
}
.botao-destaque:hover{
	text-decoration: none;
	background-color: #0e3ec7;
	color: #fff;
	transition: 0.3s background-color;
}



/* rodapé */
section.rodape{
	background: rgba(0,39,156,1);
	background: -moz-linear-gradient(top, rgba(0,39,156,1) 0%, rgba(0,50,199,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,39,156,1)), color-stop(100%, rgba(0,50,199,1)));
	background: -webkit-linear-gradient(top, rgba(0,39,156,1) 0%, rgba(0,50,199,1) 100%);
	background: -o-linear-gradient(top, rgba(0,39,156,1) 0%, rgba(0,50,199,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,39,156,1) 0%, rgba(0,50,199,1) 100%);
	background: linear-gradient(to bottom, rgba(0,39,156,1) 0%, rgba(0,50,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00279c', endColorstr='#0032c7', GradientType=0 );
	padding-top: 40px;
	padding-bottom: 50px;
	/*max-height: 380px;*/
}
section.rodape .logo-secraso-rodape{
	margin-bottom: 15px;
}
section.rodape p,
section.rodape h3,
section.rodape li a{
	color: #fff;
}
section.rodape ul{
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
section.rodape li{
	float: left;
	width: 262px;
}
section.rodape li:last-child{
	float: none;
}
section.rodape li ul li{
	float: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0;
}
section.rodape h3{
	margin: 0;
}
section.rodape p{
	font-size: 12px;
	text-transform: uppercase;
	max-width: 450px;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.header{
		padding: 20px 0 25px;
	}
	.menu{
		display: flex;
		padding: 0;
	}
	.menu .item{
		border-bottom: none;
	}
	.nowrap {
		flex-wrap: nowrap;
	}
	.wrap {
		flex-wrap: wrap;
	}
	.wrap-reverse {
		flex-wrap: wrap-reverse;
	}
	.space-between {
		justify-content: space-between;
	}
	.grow1{
		flex-grow: 1;
	}
	.menu a{
		font-family: 'Dosis', sans-serif;
		font-size: 12px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	.busca .input{
		width: 75px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.header{
		padding: 25px 0;
	}
	.header .logo-secraso{
		width: auto;
		height: auto;
	}
	.slider p.descricao-slide{
		margin-bottom: 17px;
		width: 420px;
	}
	.menu{
		margin-bottom: 15px;
	}
	.menu a{
		font-size: 17px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.header{
		padding: 40px 0;
	}
	.slider p.descricao-slide{
		margin-bottom: 17px;
		width: 500px;
	}
	.menu{
		margin-bottom: 25px;
	}
	.menu a{
		font-size: 20px;
	}
}